.file_wrap {
  display: flex;
  height: 50px;
  gap: 10px;
}

.file_name {
  background-color: #cb81ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  font-size: 20px;
}

.file_name.already {
  background-color: #d4fae6;
}

.file_name.error {
  background-color: #ff5f00;
}

.remove_file_button {
  border-radius: 10px;
  background-color: #201b10;
  font-size: 24px;
  color: #fff;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross_icon {
  width: 25px;
  height: 25px;
}

.file_loading {
  background-color: #cb81ff;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin_icon {
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
