* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div#root {
  height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #201b10;
  background-color: #fce2ff;
}

body {
  padding: 30px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

:focus {
  outline: none;
}

a,
button,
input,
select,
textarea {
  transition: all 0.2s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
