.upload_wrap {
  background-color: #d4fae6;
  border-radius: 24px;
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.upload_wrap.with_file {
  background-color: transparent;
  border: 1px solid #201b10;
}

.upload_wrap.error {
  background-color: transparent;
  border: 1px solid #ff5f00;
}

.input {
  height: 50px;
  border-radius: 16px;
}

.hint_text {
  font-size: 18px;
}
.hint_text.error {
  font-size: 18px;
  color: #ff5f00;
}

.upload_button {
  background-color: #fff;
  height: 50px;
  border-radius: 12px;
  padding: 0 27px;
  font-size: 20px;
}
